.default-btn{
    margin: 0.5rem 0;
    padding: 0.5rem 3rem;
    color: #fff;
    cursor: pointer;
    background-color: #202020;
    outline: 5px solid #404240;
    border: none;
}   

.default-btn:hover{
    color: #afafaf;
}

.default-btn:active {
    color: #fff;
    background-color: #404240;
}