.default-btn{
    margin: 1rem 0;
    padding: 0.5rem 3rem;
    color: #fff;
    cursor: pointer;
    background-color: var(--bg-color);
    outline: 5px solid var(--primary-color);
    border: none;
}   

.default-btn:hover{
    color: var(--main-txt-color);
}

.default-btn:active {
    color: #fff;
    background-color: var(--bg-dark-color);
}