main{
    background: url(./banner.gif);
    background-repeat: no-repeat;
    background-size: cover; 
    border-bottom: 8px dashed var(--primary-color);
}

main img{
    width: 450px;
}

.banner-home{
    width: 60%;
    height: 97vh;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.txt-banner{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--main-txt-color);
    margin: 2rem 0;
    flex-direction: column;
}

.txt-banner h1{
    font-size: 55px;
}

.txt-banner p{
    font-size: 35px;
}

.buttons-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}